[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
billiard = "*"
celery = "*"
django-celery = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
kombu = "*"
numpy = "*"
pandas = "*"
pathlib = "*"
psycopg2-binary = "*"
python-dotenv = "*"
redis = "*"
requests = "*"
Django = "*"
PyJWT = "*"
uWSGI = "*"
django-extensions = "*"

[dev-packages]
django-debug-toolbar = "*"
django-flower = "*"

[requires]
python_version = "3.8.5"
